# Database
POSTGRES_DB=instagram_sync
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgres://postgres:change-me@db:5432/instagram_sync

# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*

# Instagram
INSTAGRAM_API_BASE_URL=https://graph.instagram.com
INSTAGRAM_TOKEN=your-instagram-token-here
